{% extends 'base.html' %}

{#TODO: Make it more flashy#}


{% block main_content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">My Pets</h2>
        </div>
        <div class="card-body">
            {% if pets %}
            <ul class="list-group">
                {% for pet in pets %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <span>{{ pet.name }}</span>
                        <div class="btn-group" role="group" aria-label="Pet Actions">
                            <a href="{% url 'detail_pet_patient' pk=pet.pk %}" class="btn btn-info">Details</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>You don't have any pets yet.</p>
            {% endif %}
            <a href="{% url 'create_pet_patient' %}" class="btn btn-primary">Create Pet</a>
        </div>
    </div>
</div>
{% endblock %}